# --- Datenbank Konfiguration ---
# Diese Werte werden vom Postgres-Container beim Start genutzt
POSTGRES_USER=deng
POSTGRES_PASSWORD=deng_dev_password
POSTGRES_DB=deng

# --- Pipeline Konfiguration ---
# WICHTIG: 'postgres' ist der Name des Services in der compose.yaml
# Port 5432 ist der interne Container-Port
DATABASE_URL=postgresql://deng:deng_dev_password@postgres:5432/deng

# --- Kaggle API ---
KAGGLE_API_TOKEN=

# --- pgAdmin ---
PGADMIN_DEFAULT_EMAIL=admin@local.dev
PGADMIN_DEFAULT_PASSWORD=admin

# --- Airflow Spezifisch ---
AIRFLOW_UID=50000
# Wir sagen Airflow, dass es seine Metadaten-Tabelle in derselben DB speichern soll
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://deng:deng_dev_password@postgres:5432/deng
# Verhindert, dass Airflow beim ersten Start Beispiel-DAGs lädt (macht es übersichtlicher)
AIRFLOW__CORE__LOAD_EXAMPLES=False
