# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# OS / editor noise
.DS_Store

# Local env files
.env
.env.*
!.env.example

# Geheimer Google Cloud Key
gcp/service-account.json

# Terraform Treiber ignorieren
terraform/.terraform/
# GCP local credentials
gcp/*.json

# Terraform local files
terraform/.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# Terraform state files
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfstate
terraform/*.tfstate.*
